<%- include ("partials/header") %> <% posts.forEach(function(post) { %>

<div class="container-fluid home">
  <h1><%= post.title %></h1>
  <P
    ><%= post.content.substring(0, 100) + " ..." %>
    <a href="/posts/<%=post.title%>">Read More</a></P
  >
</div>

<% }); %> <%- include ("partials/footer") %>
